<div class="social-feed-box" dropzone="" dz-parent="activity.subject" dz-permissions="{{ activity.subject.add_photo }}">

    <div class="social-avatar">
        <profile-picture user="activity.actor" class="pull-left"></profile-picture>
        <div class="media-body">
            <a href="#" style="display: inline">
                {{ activity.actor.display_name }}
            </a> created a photo album <strong><a ui-sref="family.photos.album({album: activity.subject.slug})"> {{ activity.subject.name }} </a></strong>
            <small class="text-muted"><span am-time-ago="activity.created" am-preprocess="unix"></span></small>

        </div>
    </div>
    <div class="social-body" id="dz-clickable">
        <p>{{ activity.subject.description | limitTo: 250 }}</p>
        <button ng-if="activity.subject.permissions.add_photo" class="btn btn-primary">
            <i class="fa fa-upload"></i> Upload Photos
        </button>
        <small class="text-muted" ng-if="!activity.subject.permissions.add_photo">Maybe {{ album.owner.data.display_name }} will add some pictures</small>
    </div>

</div>