
<div class="block-header">
    <h2>Family Members<small>Manage your contact information</small></h2>

</div>

<div class="card">
    <div class="lv-header-alt clearfix m-b-5">
        <h2 class="lvh-label hidden-xs">{{ userList.meta.pagination.total }} Registered Members</h2>

        <div class="lvh-search" data-ng-if="mactrl.listviewSearchStat" data-ng-click="mactrl.listviewSearchStat">
            <input type="text" placeholder="Start typing..." class="lvhs-input" ng-model="userList.searchUser">

            <i class="lvh-search-close" data-ng-click="mactrl.listviewSearchStat = false;userList.searchUser = ''">&times;</i>
        </div>

        <ul class="lv-actions actions">
            <li>
                <a href="" data-ng-click="mactrl.listviewSearchStat = true">
                    <i class="zmdi zmdi-search"></i>
                </a>
            </li>
        </ul>
    </div>


    <div class="card-body card-padding">
        <div class="contacts clearfix row">

            <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="user in userList.users | filter:userList.searchUser">
                <div class="c-item">
                    <a href="" class="ci-avatar">
                        <profile-picture size="thumb" user="user" a-class="ci-avatar" img-class="img-responsive"></profile-picture>
                    </a>

                    <div class="c-info">
                        <strong>{{ user.display_name }}</strong>
                        <small>{{ user.email }}</small>
                    </div>

                </div>
            </div>

        </div>

        <div class="load-more">
            <a ng-click="userList.more()" ng-if="userList.users.length < userList.meta.pagination.total">
                <i class="zmdi zmdi-refresh-alt"></i> More users
            </a>
        </div>
    </div>
</div>