<div class="row">
    <div class="col-sm-8">
        <div class="ibox">
            <div class="ibox-content">
                <h2>Family Members</h2>
                <div class="input-group">
                    <input type="text" placeholder="Search client " class="input form-control">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                                </span>
                </div>
                <div class="clients-list">

                        <div id="tab-1" class="tab-pane active">
                            <div class="full-height-scroll" full-scroll>
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <tbody infinite-scroll="more()" infinite-scroll-disabled='usersLoading'>
                                        <tr ng-repeat="user in users" ng-click="selectUser(user)">
                                            <td class="client-avatar"><profile-picture size="small" user="user" /> </td>
                                            <td><a class="client-link">{{ user.display_name }}</a></td>
                                            <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                                            <td> {{user.email}}</td>
                                            <td class="contact-type"><i class="fa fa-phone"> </i></td>
                                            <td> {{ user.phone_one }}</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <p>
                                        <button type="button"
                                                class="btn btn-block btn-outline btn-primary"
                                                ng-click="more()"
                                                ng-if="users.length < meta.pagination.total">
                                            <i class="fa fa-arrow-down"></i> More users
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="ibox ">

            <div class="ibox-content">
                <div class="tab-content" ng-repeat="user in users">
                    <div class="tab-pane active" ng-if="showUser == user.id" ng-init="showUser = 0">
                        <div class="row m-b-lg">
                            <div class="col-lg-4 text-center">
                                <div class="m-b-sm">
                                    <profile-picture size="thumb" user="user" img-class="img-circle img-responsive" />

                                </div>
                            </div>
                            <div class="col-lg-8">
                                <h2>
                                    {{ user.display_name }}
                                </h2>
                                <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                        class="fa fa-envelope"></i> Send Message
                                </button>
                            </div>
                        </div>
                        <div class="client-detail">
                            <div class="full-height-scroll" full-scroll>

                                <strong>Contact Info</strong>
                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item" ng-if="user.email">
                                        <span class="fa fa-envelope m-r-xs"></span>
                                        {{ user.email }}
                                    </li>
                                    <li class="list-group-item" ng-if="user.phone_one">
                                        <span class="fa fa-phone m-r-xs"></span>
                                        {{ user.phone_one }}
                                    </li>
                                    <li class="list-group-item" ng-if="user.phone_two">
                                        <span class="fa fa-phone m-r-xs"></span>
                                        {{ user.phone_two }}
                                    </li>
                                    <li class="clearfix list-group-item" ng-if="user.address">
                                        <span class="fa fa-home m-r-xs"></span>
                                        <address class="pull-right" style="width:90%;">
                                            {{ user.address.street_address }}<br>
                                            {{ user.address.city }}, {{ user.address.state }} {{ user.address.zip-code }}<br>
                                        </address>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
