
<div ng-if="!editing">
    <div class="col-md-4" ng-model="user">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Profile Detail</h5>
                <span class="pull-right" ng-if="user.permissions.edit">
                    <a class="btn btn-white btn-xs" ng-click="edit()"> <i class="fa fa-pencil"></i> </a>
                </span>
            </div>
            <div>
                <div class="ibox-content no-padding border-left-right">
                    <img alt="image" class="img-responsive" src="assets/images/common/full-default-profile.jpg"
                         ng-if="user.image === undefined" class="m-r-sm ng-cloak">
                    <img alt="image" class="img-responsive" ng-src="{{ user.image.large }}" ng-if="user.image !== undefined"
                         class="m-r-sm ng-cloak">
                </div>
                <div class="ibox-content profile-content">
                    <div class="animated fadeIn">
                        <h3><strong>
                            {{ user.first_name }} {{ user.last_name }}</strong>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>About</h5>
            </div>
            <div class="ibox-content profile-content">
                <ul class="list-unstyled m-t-md animated fadeIn no-margins" ng-model="user">
                    <li ng-if="user.email">
                        <span class="fa fa-envelope m-r-xs"></span>
                        {{ user.email }}
                    </li>
                    <li ng-if="user.phone_one">
                        <span class="fa fa-phone m-r-xs"></span>
                        {{ user.phone_one }}
                    </li>
                    <li ng-if="user.phone_two">
                        <span class="fa fa-phone m-r-xs"></span>
                        {{ user.phone_two }}
                    </li>
                    <li ng-if="user.website">
                        <span class="fa fa-link m-r-xs"></span>
                        <a href="http://{{ user.website }}" target="_blank">{{ user.website }}</a>
                    </li>
                    <li class="clearfix" ng-if="user.address.city && user.address.state">
                        <span class="fa fa-home m-r-xs"></span>
                        <address class="pull-right" style="width:93%;">
                            {{ user.address.street_address }}
                            {{ user.address.city }}, {{ user.address.state }} {{ user.address.zip_code }}<br>
                        </address>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="tabs-container">

            <tabset class="animated fadeIn">
                <tab heading="Photos">
                    <div class="panel-body ibox-content">

                        <div ng-if="user.profile_pictures.data.length > 0">
                            <strong>Profile Pictures</strong><br>

                            <a href=""
                               data-gallery=""
                               ng-repeat="photo in user.profile_pictures.data"
                               title="{{photo.name}}">
                                <img alt="{{photo.name}}" ng-src="{{ photo.image.small }}">
                            </a>
                            <hr>
                        </div>

                        <div ng-if="user.albums.data.length > 0">
                            <strong>Albums</strong>

                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="album in user.albums.data">
                                    <a ui-sref="family.photos.album({album: album.slug})"
                                       title="{{album.name}}">
                                        {{ album.name }}
                                    </a><br>
                                    <span ng-repeat="photo in album.photos.data">
                                        <a ui-sref="family.photos.album({album: album.slug, highlightImage: photo.id })"
                                           title="{{photo.name}}">
                                        <img ng-src="{{photo.image.small}}">
                                            </a>
                                    </span>
                                </li>
                            </ul>

                        </div>

                        <div ng-if="user.profile_pictures.data.length == 0 && user.albums.data.length == 0">
                            <h2>Nothing to see here</h2>
                        </div>
                    </div>
                </tab>
                <tab heading="Activity" ng-if="false">
                    <div class="panel-body ibox-content">
                        <strong>Donec quam felis</strong>

                        <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among
                            the stalks, and grow familiar with the countless indescribable forms of the insects
                            and flies, then I feel the presence of the Almighty, who formed us in his own image, and
                            the breath </p>

                        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss
                            of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                            sense of mere tranquil existence, that I neglect my talents. I should be incapable of
                            drawing a single stroke at the present moment; and yet.</p>
                    </div>
                </tab>
            </tabset>

        </div>
    </div>
</div>

<div ng-if="editing" ng-include="'app/views/users/editProfile.html'">

</div>