<div class="row">
<div class="col-md-8">
    <div class="card wall-posting">
        <div class="card-body card-padding">
            <textarea class="wp-text" data-auto-size placeholder="Write Something..."></textarea>

            <div class="wp-media" data-ng-if="mactrl.wallImage">
                Images - Coming soon...
            </div>

            <div class="wp-media" data-ng-if="mactrl.wallVideo">
                Video Links - Coming soon...
            </div>

            <div class="wp-media" data-ng-if="mactrl.wallLink">
                Links - Coming soon...
            </div>
        </div>

        <ul class="list-unstyled clearfix wpb-actions">
            <li class="wpba-attrs">
                <ul class="list-unstyled list-inline m-l-0 m-t-5">
                    <li><a data-wpba="image" href="" data-ng-class="{ 'active': mactrl.wallImage }" data-ng-click="mactrl.wallImage = true; mactrl.wallVideo = false; mactrl.wallLink = false"><i class="zmdi zmdi-image"></i></a></li>
                    <li><a data-wpba="video" href="" data-ng-class="{ 'active': mactrl.wallVideo }" data-ng-click="mactrl.wallVideo= true; mactrl.wallImage = false; mactrl.wallLink = false"><i class="zmdi zmdi-play-circle"></i></a></li>
                    <li><a data-wpba="link" href="" data-ng-class="{ 'active': mactrl.wallLink }" data-ng-click="mactrl.wallLink = true; mactrl.wallImage = false; mactrl.wallVideo = false"><i class="zmdi zmdi-link"></i></a></li>
                </ul>
            </li>

            <li class="pull-right"><button class="btn btn-primary btn-sm">Post</button></li>
        </ul>
    </div>
    <div  infinite-scroll="more()" infinite-scroll-disabled='activityLoading' infinite-scroll-immediate-check="false">
        <div ng-repeat="activity in feed">

            <activity-box activity="activity"></activity-box>

        </div>
    </div>
    <p>
    <div ng-include="'components/common/loadingIcon.html'" ng-if="activityLoading"></div>
    <div ng-if="feed.length < meta.pagination.total && !activityLoading">
        <button type="button"
                class="btn center-block btn-outline btn-primary"
                ng-click="more()" >

            <i class="fa fa-arrow-down"></i> More
        </button>
    </div>
    </p>

</div>
    <div class="col-md-4 hidden-sm">
        <!-- Holding area for uploaded photos -->
        <div id="preview" class="dropzone hide" style="margin-bottom: 10px;"></div>

        <div class="card picture-list">
            <div class="card-header">
                <h2>Photos <small>Cras congue nec lorem eget posuere</small></h2>

                <ul class="actions">
                    <li class="dropdown action-show" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="pl-body">
                <div class="col-xs-3">
                    <a href="">
                        <img src="img/headers/square/1.png" alt="">
                    </a>
                </div>

                <div class="col-xs-3">
                    <a href="">
                        <img src="img/headers/square/2.png" alt="">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="">
                        <img src="img/headers/square/3.png" alt="">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="">
                        <img src="img/headers/square/4.png" alt="">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="">
                        <img src="img/headers/square/5.png" alt="">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="">
                        <img src="img/headers/square/6.png" alt="">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="">
                        <img src="img/headers/square/7.png" alt="">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="">
                        <img src="img/headers/square/8.png" alt="">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="">
                        <img src="img/headers/square/9.png" alt="">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="">
                        <img src="img/headers/square/1.png" alt="">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="">
                        <img src="img/headers/square/2.png" alt="">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="">
                        <img src="img/headers/square/3.png" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2>Recent Comments <small>Commodo vel pharetra nisi. Donec velit libero</small></h2>
            </div>
            <div class="listview">
                <div class="lv-body">

                    <a class="lv-item" href="" data-ng-repeat="w in rpctrl.rpResult.list">
                        <div class="media">
                            <div class="pull-left">
                                <img class="lv-img-sm" data-ng-src="img/profile-pics/{{ w.img }}" alt="">
                            </div>
                            <div class="media-body">
                                <div class="lv-title">{{ w.user }}</div>
                                <small class="lv-small">{{ w.text }}</small>
                            </div>
                        </div>
                    </a>

                </div>

                <div class="clearfix"></div>

                <a class="lv-footer" href="">View All</a>
            </div>
        </div>

    </div>

</div>