<div class="row">
<div class="col-md-6 pull-right col-xs-12" sticky media-query="min-width: 768px">
        <p class="space-15">
            <a class="btn btn-primary btn-sm" ui-sref="family.photos.albums"><i class="fa fa-photo"></i>  <span class="hidden-xs"> Family Albums</span></a>
            <a class="btn btn-primary btn-sm" ui-sref="family.forum.index"><i class="fa fa-comments"></i> <span class="hidden-xs"> Family Forum</span></a>
            <a class="btn btn-primary btn-sm" ui-sref="family.members.index"><i class="fa fa-users"></i> <span class="hidden-xs"> Address Book</span></a>
        </p>

    <!-- Holding area for uploaded photos -->
    <div id="preview" class="dropzone hide" style="margin-bottom: 10px;"></div>
</div>
<div class="col-md-6 col-xs-12">

    <div ng-controller="ThreadFormCtrl as shareUpdate" class="ibox-content">
        <form class="form-horizontal" name="shareUpdate.threadForm" novalidate>
            <div class="form-group" show-errors="{ showSuccess: true}">
                <label class="col-sm-2 control-label">Subject</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" ng-model="shareUpdate.thread.title" required>
                </div>
            </div>
           <input type="hidden" ng-model="shareUpdate.thread.category.data.id" ng-init="shareUpdate.thread.category.data.id=3">
            <div class="form-group" show-errors="{ showSuccess: true}">
                <div class="col-sm-12">
                    <textarea ng-model="shareUpdate.thread.body" name="body" class="form-control" rows="4" required></textarea>
                </div>
            </div>
        </form>
        <button class="btn btn-primary btn-outline"
                ng-click="shareUpdate.saveThread(thread)">
            <i class="fa fa-check"></i>
            <span>Share Family Update</span>
        </button>
    </div><br>
<div  infinite-scroll="more()" infinite-scroll-disabled='activityLoading' infinite-scroll-immediate-check="false">
    <div ng-repeat="activity in feed">

        <div ng-include="getActivityBox(activity.type)" class="animated fadeIn"></div>

    </div></div>
    <p>
    <div ng-include="'components/common/loadingIcon.html'" ng-if="activityLoading"></div>
    <div ng-if="feed.length < meta.pagination.total && !activityLoading">
        <button type="button"
                class="btn center-block btn-outline btn-primary"
                ng-click="more()" >

            <i class="fa fa-arrow-down"></i> More
        </button>
    </div>
    </p>

</div>

</div>