<!-- Toolbar -->
<div class="ibox">
    <div class="ibox-content">

        <div class="pull-right col-md-4 text-right" ng-if="currentPhoto">

            <div class="btn-group">
                <button class="btn btn-white" ng-click="editPhoto()" ng-if="currentPhoto.permissions.edit">
                    <i class="fa fa-pencil"></i>
                </button>
            </div>
            <div class="btn-group ">
                <button class="btn btn-white" ng-click="prevPhoto()" ng-disabled="currentIndex === 0">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button
                        class="btn btn-white"
                        ng-click="nextPhoto($event)"
                        ng-disabled="currentIndex + 1 === photos.length && meta.pagination.links.next === undefined"
                        >
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div> |
            <button class="btn btn-white" ng-click="closeExplorer()"><i class="fa fa-close"></i></button>
        </div>

        <div class="col-md-8 pull-left">
                <a class="btn btn-primary" ng-click="changeDisplay('gallery')" tooltip="Gallery">
                    <i class="glyphicon glyphicon-th-large"></i>
                </a>
                <a class="btn btn-primary" ng-click="changeDisplay('explore')" tooltip="Explorer">
                    <i class="glyphicon glyphicon-th-list"></i>
                </a>
        </div>
        <div class="clearfix"></div>

    </div>
</div>


<div ng-if="!currentPhoto" class="ibox" ng-include="'app/photos/explorer/list.html'"></div>

<photo-info ng-show="currentPhoto" photo="currentPhoto" editing="editingPhoto"></photo-info>