<!-- Toolbar -->
<div dropzone="" id="file-dropzone" dz-parent="parent" dz-permissions="{{ parent.permissions.add_photo }}">

    <!-- Holding area for uploaded photos -->
    <div id="preview" class="dropzone hide" style="margin-bottom: 10px;"></div>

    <div class="ibox border-bottom"  style="z-index: 10001">

            <nav class="navbar navbar-static-top" style="padding-left: 0px;padding-right: 0px;">
                <ul class="nav navbar-top-links pull-right">
                    <li>
                        <a ng-click="albumExplorer.toggleAlbumList()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-top-links pull-right" ng-if="currentPhoto">
                    <li>
                        <a ng-click="editPhoto()" ng-if="currentPhoto.permissions.edit">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </li>
                    <li>
                        <a ng-click="prevPhoto()" ng-disabled="currentIndex === 0">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </li>
                    <li>
                        <a
                                ng-click="nextPhoto($event)"
                                ng-disabled="currentIndex + 1 === photos.length && meta.pagination.links.next === undefined"
                                >
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-danger" ng-click="closeExplorer()"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <ul class="nav navbar-top-links ">
                    <li>
                        <a class="text-center" ng-click="changeDisplay('gallery')" tooltip="Gallery">
                            <i class="glyphicon glyphicon-th-large"></i>  <span class="hidden-xs">Gallery</span>
                        </a>
                    </li>
                    <li>
                        <a class="text-center" ng-click="changeDisplay('list')" tooltip="List">
                            <i class="glyphicon glyphicon-th-list"></i>  <span class="hidden-xs"> List</span>
                        </a>
                    </li>
                    <li ng-if="parent.permissions.add_photo" id="dz-clickable">
                        <a class="text-center">
                            <i class="fa fa-upload"></i> <span class="hidden-xs"> Add Photos</span>
                        </a>
                    </li>
                </ul>
            </nav>

    <div ng-if="!currentPhoto" class="ibox" ng-include="'app/photos/explorer/list.html'"></div>

    <photo-info ng-show="currentPhoto" photo="currentPhoto" editing="editingPhoto"></photo-info>
</div>
</div>