<div class="ibox-content" ng-show="photos.length == 0" class="text-center">
    <h4>It's empty in here</h4>
</div>
<div>
    <div class="ibox-content" ng-show="display == 'list'">

            <div class="list-group">
                <div class="list-group-item" ng-repeat="photo in photos">
                    <a ng-click="selectPhoto($index)" class="pull-left">
                        <img alt="{{ photo.name }}" ng-src="{{ photo.image.small }}">
                    </a>
                    <div class="media-body" style="padding-left: 10px">
                        <h4><a ng-click="selectPhoto($index)">{{ photo.name }}</a></h4>
                        Added by {{ photo.owner.data.display_name }} on {{ photo.created * 1000 | date : short }}
                    </div>

                </div>
            </div>


        <div class="clearfix"></div>
    </div>

    <div class="ibox-content text-center" ng-if="display == 'gallery'" infinite-scroll="more()" infinite-scroll-disabled="parentLoading" infinite-scroll-immediate-check="false">

            <div masonry="{ gutter: 0 }" load-images="true" preserve-order column-width="185" reload-on-resize>

                <div class="masonry-brick" ng-repeat="photo in photos">
                    <img alt="{{photo.name}}" ng-src="{{ photo.image.medium }}" class="img-responsive">
                </div>

            </div>



        <div class="clearfix"></div>
        <div ng-show="parentLoading" ng-include="'components/common/loadingIcon.html'"></div>
        <div ng-show="!parentLoading">
            <button type="button"
                    class="btn btn-outline btn-primary center-block"
                    ng-click="more()"
                    ng-if="meta.pagination != 'undefined' && meta.pagination.links.next != null">
                <i class="fa fa-arrow-down"></i> More Photos
            </button>
        </div>
    </div>



</div>