<div class="col-lg-4 pull-right">
    <div class="ibox">
        <div class="ibox-content">
            <div class="animated fadeInUp">

                <span class="pull-right" ng-if="currentPhoto.permissions.edit">
                    <a class="btn btn-white btn-xs" ui-sref="family.photos.edit({photo: currentPhoto.id})"> <i class="fa fa-pencil"></i> </a>
                </span>

                <profile-picture size="small" user="currentPhoto.owner.data" a-class="pull-left" img-class="m-r-sm"></profile-picture>

                <div class="media-right">
                    <strong>{{ currentPhoto.owner.data.display_name }}</strong><br>
                    <small class="text-muted">{{ currentPhoto.created * 1000 | date : short }}</small>
                </div>
                <br>

                <p class="small media-body">
                    {{ currentPhoto.description }}
                </p>

                <ul class="tag-list media-body" style="padding: 0" ng-if="currentPhoto.tags.data.length > 0">
                    <li ng-repeat="tag in currentPhoto.tags.data"><a href=""><i class="fa fa-tag"></i> {{ tag.name }}</a>
                    </li>
                </ul>
                <br class="clearfix">

            </div>
        </div>
    </div>
</div>

<div class="col-lg-8">
    <div class="ibox">
        <div class="ibox-content">
            <div class="animated fadeInUp">
                <h2>{{ currentPhoto.name }}</h2>
                <div class="row">

                    <img ng-src="{{ currentPhoto.image.large }}" class="img-responsive center-block">
                </div>

                <hr>
                <div class="row">
                    <comment-feed parent="currentPhoto"></comment-feed>
                </div>

            </div>
        </div>
    </div>
</div>
