<div dropzone="" id="file-dropzone" dz-parent="photoMaster.parent" dz-permissions="{{ photoMaster.parent.permissions.add_photo }}">

    <!-- Holding area for uploaded photos -->
    <div id="preview" class="dropzone hide" style="margin-bottom: 10px;"></div>
<div class="ibox-content">
    <md-button class="md-fab md-mini pull-right" aria-label="Eat cake" ng-click="photoMaster.toggleAlbumList();">
        <i class="fa fa-search"></i>
    </md-button>
    <div class="row">
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" style="margin-top:55px;">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Collections</h1>
                <a class="btn btn-info btn-block"
                   ng-if="main.user.role.data.permissions.forum_createThread"
                   ui-sref="family.forum.category.createThread({category_id: forum.currentCategory.id})">
                    <i class="fa fa-plus"></i> Create Collection
                </a>
            </md-toolbar>
            <md-content layout-padding>
                <form>
                    <md-input-container>
                        <label for="testInput">Search Collections</label>
                        <input type="text" id="testInput"
                               ng-model="photoMaster.searchAlbum" md-autofocus>
                    </md-input-container>
                </form>
                <md-list>
                    <md-list-item class="md-3-line">
                        <a ui-sref="family.photos.all">All Photos</a>
                    </md-list-item>
                    <md-list-item class="md-3-line" ng-repeat="album in photoMaster.albums | filter:photoMaster.searchAlbum">
                        <a ui-sref="family.photos.album({album: album.slug})">
                            {{ album.name }}
                        </a>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <div class="col-md-12">
            <div class="" ng-show="photoMaster.photos.length == 0" class="text-center">
                <h4>It's empty in here</h4>
            </div>

            <div  ng-show="photoMaster.display == 'list'">

                <div class="list-group no-margins">
                    <div class="list-group-item clearfix" ng-repeat="photo in photoMaster.photos" style="height: auto">
                        <div class="col-md-2 pull-left">
                            <a ng-click="photoMaster.selectPhoto($index)" >
                                <img alt="{{ photo.name }}" ng-src="{{ photo.image.thumb }}">
                            </a>
                        </div>
                        <div class="col-md-10">
                        <div class="list-group-item-heading">
                            <h3><a ng-click="photoMaster.selectPhoto($index)">{{ photo.name }}</a></h3>
                        </div>
                        <div class="list-group-item-text" style="padding-left: 10px">


                            Added by {{ photo.owner.data.display_name }} on {{ photo.created * 1000 | date : short }}
                        </div>
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>
            </div>

            <div ng-if="photoMaster.display == 'gallery'" infinite-scroll="photoMaster.more()" infinite-scroll-disabled="photoMaster.parentLoading" infinite-scroll-immediate-check="false">

                <div class="row">


                    <md-grid-list
                            md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                            md-row-height-gt-md="1:1" md-row-height="4:3"
                            md-gutter="8px" md-gutter-gt-sm="4px" >
                        <md-grid-tile ng-repeat="photo in photoMaster.photos"
                                      md-rowspan="1"
                                      md-colspan="1"
                                      md-colspan-sm="1">
                            <a ng-click="photoMaster.selectPhoto($index, $event)">
                            <img alt="{{photo.name}}" ng-src="{{ photo.image.medium }}" class="img-responsive">
                                </a>
                        </md-grid-tile>
                    </md-grid-list>
                </div>

                <div ng-if="photoMaster.selected" class="ibox fullscreen" style="background: rgba(0, 0, 0, .5);margin-bottom: 0" ng-click="photoMaster.selected = false">
                    <nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0" ng-click="$event.stopPropagation()">

                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <md-button aria-label="Home" ng-click="photoMaster.prevPhoto($event)">
                                <i class="fa fa-arrow-left"></i><span class="nav-label hidden-xs">&nbsp;Previous</span>
                            </md-button>
                            <img alt="{{photo.name}}" ng-src="{{ photoMaster.photos[photoMaster.currentIndex-1].image.small }}" style="border:#5E5E5E solid 2px;" class="img-responsive">
                            <img alt="{{photo.name}}" ng-src="{{ photoMaster.selected.image.small }}" class="img-responsive" style="border:#c2c2c2 solid 2px;">
                            <img alt="{{photo.name}}" ng-src="{{ photoMaster.photos[photoMaster.currentIndex+1].image.small }}" ng-click="photoMaster.selectPhoto(photoMaster.currentIndex+1)" style="border:#5E5E5E solid 2px;" class="img-responsive">
                            <img alt="{{photo.name}}" ng-src="{{ photoMaster.photos[photoMaster.currentIndex+2].image.small }}" ng-click="photoMaster.selectPhoto(photoMaster.currentIndex+2)" style="border:#5E5E5E solid 2px;" class="img-responsive">
                            <md-button ng-click="photoMaster.nextPhoto($event)">
                                 <span class="nav-label hidden-xs">Next</span> <i class="fa fa-arrow-right"></i>
                            </md-button>
                            <md-button ng-click="photoMaster.editingPhoto = !photoMaster.editingPhoto" ng-if="photoMaster.selected.permissions.edit">
                                <i class="fa fa-pencil"></i> <span class="nav-label hidden-xs">Edit</span>
                            </md-button>

                            <span flex></span>
                            <md-button ng-click="photoMaster.selected = false" md-position-mode="target-right target">
                                <i class="fa fa-times"></i> <span class="nav-label hidden-xs">Close</span>
                            </md-button>
                        </div>
                    </md-toolbar>
                        </nav>
                    <div  full-scroll style="margin-top:64px;cursor: default">
                    <photo-info photo="photoMaster.selected" editing="photoMaster.editing" ng-click="$event.stopPropagation()"></photo-info>
                    </div>



                </div>

                <div class="clearfix"></div>
            </div>
            <br>
            <div ng-show="photoMaster.parentLoading" ng-include="'components/common/loadingIcon.html'"></div>
            <div ng-show="!photoMaster.parentLoading" class=" center-block" style="width: 140px;">
                <md-button type="button"
                        class="md-primary center-block"
                        ng-click="photoMaster.more()"
                        ng-if="photoMaster.meta.pagination != 'undefined' && photoMaster.meta.pagination.links.next != null">
                    <i class="fa fa-arrow-down"></i> More Photos
                </md-button>
            </div>
        </div>

    </div>
</div>
</div>
