.md-skin .nav > li > a {
  color: white;
}

.pace .pace-progress {
  background: @light-blue;
  z-index: 9001;
  height: 5px;
}

.toast-success {
  background-color: @blue
}

body {
  background-color: @navy !important;
}