<div ng-controller="ThreadFormCtrl">
    <form class="form-horizontal" name="threadForm" novalidate>
        <div class="form-group" show-errors="{ showSuccess: true}">
            <label class="col-sm-2 control-label">Thread Title:</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" ng-model="thread.title" required>
            </div>
        </div>
        <div class="form-group" show-errors="{ showSuccess: true}">
            <label class="col-sm-2 control-label">Category:</label>

            <div class="col-sm-10">
                <select class="form-control m-b"
                        name="category"
                        ng-model="thread.category.data.id"
                        ng-options="category.id as category.name for category in categories"
                        required>
                </select>
            </div>
        </div>
        <div class="form-group" show-errors="{ showSuccess: true}">
            <div class="col-sm-12">
                <textarea ng-model="thread.body" name="body" class="form-control" rows="8" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Tags
                <small>(comma separated)</small>
            </label>

            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="dirty.value"
                       mass-autocomplete-item="tag_autocomplete">
            </div>
                    <span class="col-md-7 text-left pull-right" ng-if="thread.tag_array.length > 0">
                        <span ng-repeat="tag in thread.tag_array">
                            <a class="btn btn-white btn-sm" ng-click="removeTag(tag)"><i class="fa fa-close"></i>
                                &nbsp;{{ tag.name }}</a>
                        </span>
                    </span>
        </div>
    </form>

    <div class="media-body"><hr>
        <div class="form-group col-sm-4">
            <button class="btn btn-primary btn-outline form-control" ng-disabled="editThreadReply.$invalid"
                    ng-click="saveThread(thread)">
                <i class="fa fa-check"></i>
                <span ng-if="thread.id">Save Topic</span>
                <span ng-if="!thread.id">Create Topic</span>
            </button>
        </div>
        <div class="form-group col-sm-4" ng-if="thread.id">
            <button class="btn btn-danger btn-outline form-control" ng-if="thread.permissions.delete">
                <i class="fa fa-close"></i> Delete
            </button>
        </div>
        <div class="form-group col-sm-4" ng-if="thread.id">
            <button class="btn btn-warning btn-outline form-control" ng-click="stopThreadEdit()">
                <i class="fa fa-sign-out"></i> Cancel
            </button>
        </div>
        <br>
    </div>
    <div class="clearfix"></div>

</div>
