<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <ul class="list-group col-md-4">
                <li class="list-group-item animated fadeIn" ng-click="selectCategory('all')" ng-class="{'hide': 'all' == currentCategory.id}">
                    <span class="badge">{{ total_posts }}</span>
                    <div class="forum-icon pull-left">
                        <i class="fa fa-asterisk"></i>
                    </div>
                    <div class="media-body" ng-click="currentCategory = 'all'">
                        <strong>{{all.name}}</strong>

                        <div class="forum-sub-title">{{ all.description }}</div>
                    </div>
                </li>

                <li class="list-group-item animated fadeIn" ng-repeat="category in categories.data" ng-click="selectCategory(category)" ng-class="{'hide': category.id == currentCategory.id}">
                    <span class="badge">{{ category.topic_count }}</span>
                    <div class="forum-icon pull-left">
                        <i class="{{ category.icon }}"></i>
                    </div>
                    <div class="media-body">
                        <strong>{{ category.name }}</strong>
                        <div class="forum-sub-title">{{ category.description }}</div>
                    </div>
                </li>
            </ul>

            <div class="p-xs col-md-8 animated fadeIn">
                <div class="pull-left m-r-md">
                    <i class="{{ currentCategory.icon }} mid-icon"></i>
                </div>
                <h2>{{ currentCategory.name }}</h2>
                <span>{{ currentCategory.description }}</span>

            </div>
        </div>
    </div>


</div>