<div class="ibox">
    <div class="ibox-content" ng-if="!$state.includes('family.forum.category.thread')">
        <div class="row">
            <div class="list-group col-md-12">
                <div class="animated fadeIn col-md-4" ui-sref="family.forum" ng-class="{'hide': 'all' == forum.currentCategory.id || forum.currentCategory.id == undefined}">
                    <span class="badge pull-right">{{ forum.total_posts }}</span>
                    <div class="forum-icon pull-left">
                        <i class="fa fa-asterisk"></i>
                    </div>
                    <div class="media-body" ng-click="currentCategory = 'all'">
                        <strong>{{forum.all.name}}</strong>

                        <div class="forum-sub-title">{{ forum.all.description }}</div>
                    </div>
                </div>

                <div class="animated fadeIn  col-md-4" ng-repeat="category in forum.categories.data" ui-sref="family.forum.category({category_slug: category.slug})" ng-class="{'hide': category.id == forum.currentCategory.id}">
                    <span class="badge pull-right">{{ category.topic_count }}</span>
                    <div class="forum-icon pull-left">
                        <i class="{{ category.icon }}"></i>
                    </div>
                    <div class="media-body">
                        <strong>{{ category.name }}</strong>
                        <div class="forum-sub-title">{{ category.description }}</div>
                    </div>
                </div>
            </div>

            <div class="p-xs col-md-8 animated fadeIn">
                <div class="pull-left m-r-md">
                    <i class="{{ currentCategory.icon }} mid-icon"></i>
                </div>
                <h2>{{ forum.currentCategory.name }}</h2>
                <span>{{ forum.currentCategory.description }}</span>

            </div>
            <div class="p-xs col-md-4 animated fadeIn pull-right text-right">
                <div class="space-20"></div>
                <a class="btn btn-primary btn-lg"
                   ng-if="main.user.role.data.permissions.forum_createThread"
                   ui-sref="family.forum.category.createThread({category_id: forum.currentCategory.id})">
                    <i class="fa fa-plus"></i> Add Topic
                </a>
            </div>
        </div>
    </div>

<ui-view></ui-view>
</div>