        <div class="ibox" infinite-scroll="threads.more()" infinite-scroll-disabled='threads.loading' ng-if="!$state.includes('family.forum.category.thread') && !$state.includes('family.forum.category.createThread')">

            <div class="ibox-content feed-activity-list">
                <div class="row feed-element small font-bold text-center">
                    <div class="col-md-7 col-xs-8">Title</div>
                    <div class="col-md-3 text-right hidden-xs">Tags</div>
                    <div class="col-md-1 col-xs-2">Replies</div>
                    <div class="col-md-1 col-xs-2">Freshness</div>
                </div>

                <div class="feed-element animated fadeIn" ng-repeat="thread in threads.data">
                        <div class="row">
                            <div class="col-md-7 col-xs-8">

                                <profile-picture size="small" user="thread.owner.data" a-class="pull-left" img-class="m-r-sm" class="hidden-xs"></profile-picture>

                                <div class="media-body">
                                <a ui-sref="family.forum.category.thread({category_slug: forum.currentCategory.slug,thread_slug: thread.slug})" class="faq-question">{{ thread.title }}</a>
                                    <span class="label label-info" ng-if="thread.sticky">sticky</span>
                                <small>
                                    <profile-picture size="small" user="thread.owner.data" a-class="pull-left" img-class="m-r-sm" class="visible-xs"></profile-picture>
                                    Added by <strong>{{ thread.owner.data.first_name }} {{ thread.owner.data.last_name }}</strong>
                                    <span ng-if="forum.currentCategory.id == 'all'">in <i class="{{ thread.category.data.icon }}"></i> {{ thread.category.data.name}}</span>
                                    <i class="fa fa-clock-o"></i> {{ thread.created * 1000 | date : short }}</span>
                                </small>
                                </div>
                            </div>
                            <div class="col-md-3 hidden-xs">

                                <span class="text-right pull-right hidden-xs" ng-if="thread.tags.data.length > 0">
                                    <span ng-repeat="tag in thread.tags.data"> <button class="btn btn-white btn-xs">{{ tag.name }}</button> </span>
                                </span>
                            </div>
                            <div class="col-md-1 col-xs-2 text-center">
                                {{ thread.reply_count }}
                            </div>
                            <div class="col-md-1 col-xs-2 text-center">

                                <span am-time-ago="thread.freshness" am-preprocess="unix"></span>
                            </div>
                        </div>



                </div>
                <br>
                <div ng-if="threads.loading" ng-include="'components/common/loadingIcon.html'">

                </div>
                <p ng-if="!threads.loading">
                    <button type="button"
                            class="btn btn-block btn-outline btn-primary"
                            ng-click="threads.more()"
                            ng-if="threads.data.length < threads.meta.pagination.total">
                        <i class="fa fa-arrow-down"></i> More topics
                    </button>
                </p>
            </div>

        </div>

        <ui-view  ng-if="$state.includes('family.forum.category.thread') || $state.includes('family.forum.category.createThread')"></ui-view>