<div ng-include="'/components/common/heading.html'"></div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="ibox">
            <div class="ibox-content feed-activity-list">
                <div class="feed-element animated fadeInUp" ng-repeat="thread in threads.data">

                    <a href="" class="pull-left">
                        <img alt="image" src="assets/images/common/small-default-profile.jpg" ng-if="thread.owner.data.image.small === undefined" class="m-r-sm ng-cloak">
                        <img alt="image" ng-src="{{ thread.owner.data.image.small }}" ng-if="thread.owner.data.image.small !== undefined" class="m-r-sm ng-cloak">
                    </a>
                    <div class="media-body ">
                        <a ui-sref="family.forum.thread({thread_slug: thread.slug})" class="btn-link">
                            <h2>
                                {{ thread.title }}
                            </h2>
                        </a>
                        <div class="m-b-xs">
                            <strong>{{ thread.owner.data.first_name }} {{ thread.owner.data.last_name }}</strong> |
                            <i class="fa fa-clock-o"></i> <span am-time-ago="thread.freshness" am-preprocess="unix"></span> |
                            <i class="fa fa-comments-o"></i>  {{ thread.reply_count }} comments

                            <span class="col-md-6 text-right pull-right" ng-if="thread.tags.data.length > 0">
                                <span ng-repeat="tag in thread.tags.data"> <button class="btn btn-white btn-xs">{{ tag.name }}</button> </span>
                            </span>
                        </div>
                    </div>
                </div>
                <br>
                <p>
                    <button type="button"
                            class="btn btn-block btn-outline btn-primary"
                            ng-click="more()"
                            ng-if="threads.data.length < threads.meta.pagination.total">
                        <i class="fa fa-arrow-down"></i> More topics
                    </button>
                </p>
            </div>

        </div>


    </div>
</div>