<div ng-include="'/components/common/heading.html'"></div>
<div class="wrapper wrapper-content">
    <div class="ibox animated fadeInUp" ng-show="thread">
        <div class="ibox-content">

            <div>
                <a href="" class="pull-left">
                    <img alt="image" src="assets/images/common/small-default-profile.jpg" ng-if="thread.owner.data.image === null" class="m-r-sm ng-cloak">
                    <img alt="image" ng-src="{{ thread.owner.data.image }}" ng-if="thread.owner.data.image !== null" class="m-r-sm ng-cloak">
                </a>

                <div class="media-body ">
                    <a href="" class="btn btn-white btn-xs pull-right"><i class="glyphicon glyphicon-pencil"></i> &nbsp;Edit thread</a>
                    <strong>{{ thread.owner.data.first_name }} {{ thread.owner.data.last_name }}</strong><br>
                    <small class="text-muted">{{ thread.created * 1000 | date : short }}</small>
                    <p>
                        {{ thread.body }}
                    </p>
                </div>
            </div>


        </div>
    </div>

    <div class="ibox">
        <div class="ibox-content">
            <div class="feed-activity-list">
                <div class="feed-element animated fadeInUp" ng-repeat="reply in thread.replies.data">
                    <a href="" class="pull-left">
                        <img alt="image" src="assets/images/common/small-default-profile.jpg" ng-if="reply.owner.data.image === null">
                        <img alt="image" ng-src="{{ reply.owner.data.image }}" ng-if="reply.owner.data.image !== null">
                    </a>

                    <div class="media-body ">
                        <small class="pull-right" am-time-ago="reply.created * 1000"></small>
                        <strong>{{ reply.owner.data.first_name }} {{ reply.owner.data.last_name }}</strong><br>
                        <small class="text-muted">{{ reply.created * 1000 | date : short }}</small>
                        <p>
                            {{ reply.body }}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>