<div ng-include="'/components/common/heading.html'"></div>
<div class="wrapper wrapper-content">
    <div class="ibox" ng-show="thread">

        <div class="ibox-content" ng-if="!editing_thread">

            <div>

                <div class="media-body animated fadeInUp ">
                    <span class=" pull-right">
                        <button class="btn btn-white btn-xs" ng-if="thread.permissions.edit" ng-click="editThread(thread)"> <i class="fa fa-pencil"></i> </button>
                    </span>
                    <h2>{{thread.title}}</h2>

                <div class="ibox-content">
                    <p>
                        {{ thread.body }}
                    </p></div>
                </div>
            </div>
            <div class="forum-post-info  animated fadeInUp">
                <a href="" class="pull-left">
                    <img alt="image" src="assets/images/common/small-default-profile.jpg" ng-if="thread.owner.data.image.small === undefined" class="m-r-sm ng-cloak">
                    <img alt="image" ng-src="{{ thread.owner.data.image.small }}" ng-if="thread.owner.data.image.small !== undefined" class="m-r-sm ng-cloak">
                </a>
                <div>
                    Posted by <strong>{{ thread.owner.data.first_name }} {{ thread.owner.data.last_name }}</strong> in
                    <span>
                        <i class="{{ thread.category.data.icon }}"></i> <a ui-sref="family.forum.category({category_slug: thread.category.data.slug})">{{ thread.category.data.name }}</a>
                    </span>
                    on <small class="text-muted"><i class="fa fa-clock-o"></i> {{ thread.created * 1000 | date : short }}</small>
                </div>
                    <div style="padding-top: 5px;" ng-if="thread.tags.data.length > 0">
                        <span ng-repeat="tag in thread.tags.data">
                            <button class="btn btn-white btn-xs">{{ tag.name }}</button>
                        </span>
                    </div>
                <div class="clearfix"></div>

            </div>
        </div>

        <div ng-include="'/app/views/forum/_threadForm.html'" class="ibox-content" ng-if="editing_thread"></div>

    </div>

    <div class="ibox">
        <div class="ibox-content">
            <form class="ng-pristine ng-valid" ng-if="thread.permissions.reply" name="threadReply"  ng-submit="addReply(comment)">
                <div class="form-group">
                    <textarea type="text" placeholder="Add reply" name="comment" ng-model="comment.body" class="form-control" rows="4" required="">
                    </textarea>
                </div>
                    <div class="form-group">
                        <button class="btn btn-primary form-control" ng-disabled="threadReply.$invalid">
                            Add Reply
                        </button>
                    </div>
                <br>
            </form>

            <div ng-include="'/app/views/forum/_commentsFeed.html'"></div>

        </div>
    </div>
</div>