<div class="ibox">
    <div class="ibox-content">

<div ng-if="!editing" class="row">
    <div class="col-lg-8 col-xs-12">

                <div class="animated fadeIn">
                    <h1 class="">{{ photo.name }}</h1>
                    <div class="row">

                        <img ng-src="{{ photo.image.large }}" class="img-responsive center-block">
                    </div>

                    <hr>

                </div>

    </div>
    <div class="col-lg-4 pull-right col-xs-12">


                <div class="animated fadeIn">

                    <profile-picture size="small" user="photo.owner.data" a-class="pull-left" img-class="m-r-sm"></profile-picture>

                    <div class="media-right">
                        <strong>{{ photo.owner.data.display_name }}</strong><br>
                        <small class="text-muted">{{ photo.created * 1000 | date : short }}</small>
                    </div>
                    <br>

                    <p class="small media-body">
                        {{ photo.description }}
                    </p>

                    <ul class="tag-list media-body" style="padding: 0" ng-if="photo.tags.data.length > 0">
                        <li ng-repeat="tag in photo.tags.data"><a href=""><i class="fa fa-tag"></i> {{ tag.name }}</a>
                        </li>
                    </ul>
                    <br class="clearfix">
                </div>

            <comment-feed parent="photo"></comment-feed>

    </div>
</div>

<div ng-show="editing" ng-include="'app/photos/info/editPhoto.html'">

    </div>

    </div>
</div>