<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <div class="space-20"></div>
        <ol class="breadcrumb">
            <li>
                <a ng-href="#/"target="_self">Home</a>
            </li>
            <li ng-repeat="crumb in breadcrumbs">
                <a ng-href="{{ crumb.link }}" ng-hide="$last" target="_self">{{ crumb.title }}</a>
                <strong ng-show="$last">{{ crumb.title }}</strong>
            </li>
        </ol>
    </div>
</div>