<nav class="navbar navbar-fixed-top" role="navigation" style="height: 68px;">
    <div class="navbar-header">
        <a class="navbar-brand hidden-xs" style="height: auto">
            <div class="img-container" style="max-width: 30px;">
            <profile-picture size="small" user="main.user" img-class="img-responsive"></profile-picture>
            </div>
            {{ main.user.first_name[0] }}{{ main.user.last_name[0] }}+<br>
        </a>
        <ul class="nav navbar-nav">
            <li ui-sref-active="active">
                <a ui-sref="family.home"><i class="fa fa-home fa-2x"></i><span class="nav-label hidden-xs"><br>Home</span></a>
            </li>
            <li ng-class="{ active: $state.includes('family.photos') }">
                <a ui-sref="family.photos.albums"><i class="fa fa-photo fa-2x"></i> <span class="nav-label hidden-xs"><br>Photos</span></a>
            </li>
            <li ng-class="{ active: $state.includes('family.events') }">
                <a><i class="fa fa-calendar fa-2x"></i> <span class="nav-label hidden-xs"><br>Calender</span></a>
            </li>
            <li ng-class="{ active: $state.includes('family.events') }">
                <a><i class="fa fa-list fa-2x"></i> <span class="nav-label hidden-xs"><br>Recipies</span></a>
            </li>
            <li ng-class="{ active: $state.includes('family.members') }">
                <a ui-sref="family.members.index"><i class="fa fa-users fa-2x"></i> <span class="nav-label hidden-xs"><br>Address Book</span></a>
            </li>

        </ul>

    </div>

</nav>