<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0">

        <ul class="nav navbar-nav text-center">
            <li class="dropdown" dropdown style="height: 100%;">

                    <a class="dropdown-toggle" href dropdown-toggle>
                    <div  style="max-width: 40px;" class="hidden-xs">
                    <profile-picture size="small" user="main.user" img-class="img-responsive" nolink></profile-picture>
                    </div>
                        <div class="visible-xs" style="max-width: 30px;">
                            <profile-picture size="small" user="main.user" img-class="img-responsive" nolink></profile-picture>
                        </div>
                    </a>
                    <ul class="dropdown-menu animated slideInLeft m-t-xs" style="position: absolute;background: white;">
                        <li><a ui-sref="family.members.profile({user: main.user.id})">Profile</a></li>
                        <li><a ui-sref="family.forum">Forum</a></li>
                        <li><a ui-sref="logout">Logout</a></li>
                    </ul>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="family.home"><i class="fa fa-home"></i><span class="nav-label hidden-xs"><br>Home</span></a>
            </li>
            <li ng-class="{ active: $state.includes('family.photos') }">
                <a ui-sref="family.photos.albums"><i class="fa fa-photo"></i> <span class="nav-label hidden-xs"><br>Photos</span></a>
            </li>
            <li ng-class="{ active: $state.includes('family.events') }">
                <a><i class="fa fa-calendar"></i> <span class="nav-label hidden-xs"><br>Calender</span></a>
            </li>
            <li ng-class="{ active: $state.includes('family.events') }">
                <a><i class="fa fa-list"></i> <span class="nav-label hidden-xs"><br>Recipies</span></a>
            </li>
            <li ng-class="{ active: $state.includes('family.members') }">
                <a ui-sref="family.members.index"><i class="fa fa-users"></i> <span class="nav-label hidden-xs"><br>Address Book</span></a>
            </li>

        </ul>
    </nav>
</div>