<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button aria-label="Home" ui-sref="family.home">
                    <i class="fa fa-home"></i><span class="nav-label hidden-xs">&nbsp;Home</span>
                </md-button>
                <md-button ui-sref="family.photos.all">
                    <i class="fa fa-photo"></i> <span class="nav-label hidden-xs">Photos</span>
                </md-button>
                <md-button ng-class="{ active: $state.includes('family.events') }">
                    <i class="fa fa-calendar"></i> <span class="nav-label hidden-xs">Calender</span>
                </md-button>
                <md-button ng-class="{ active: $state.includes('family.events') }">
                    <i class="fa fa-list"></i> <span class="nav-label hidden-xs">Recipies</span>
                </md-button>
                <md-button ui-sref="family.members.index" ng-class="{ active: $state.includes('family.members') }">
                    <i class="fa fa-users"></i> <span class="nav-label hidden-xs">Address Book</span>
                </md-button>
                <span flex></span>
                <md-menu md-offset="0 60" md-position-mode="target-right target">
                    <!-- Trigger element is a md-button with an icon -->
                    <md-button  ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                        <profile-picture size="small" user="main.user" img-class="img-responsive" nolink></profile-picture>

                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item><md-button ui-sref="family.members.profile({user: main.user.id})">Profile</md-button></md-menu-item>
                        <md-menu-item><md-button ui-sref="family.forum.category">Forum</md-button></md-menu-item>
                        <md-menu-item><md-button ui-sref="logout">Logout</md-button></md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

    </nav>
</div>