<div sticky  media-query="min-width: 768px" ng-if="showAlbums" class="col-lg-3 pull-right">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="file-manager">
                <h5>albums</h5>
                <input type="text" placeholder="Search albums" class="input form-control" ng-model="searchAlbum">
<br>
                <ul class="folder-list" style="padding: 0;max-height:250px;" full-scroll>
                    <li><a ui-sref="family.photos.albums"><i class="fa" ng-class="selectedAlbum == null ? 'fa-folder-open' : 'fa-folder'"></i> All Photos</a></li>
                    <li ng-repeat="album in albums.data | filter:searchAlbum"><a ui-sref="family.photos.albums.album({album: album.slug})"><i class="fa" ng-class="selectedAlbum.id === album.id ? 'fa-folder-open' : 'fa-folder'"></i> {{ album.name }}</a></li>
                </ul>

                <div class="clearfix"></div>
                <div class="hr-line-dashed"></div>
                <button class="btn btn-primary btn-block" ng-if="main.user.role.data.permissions.photos_createAlbum"ui-sref="family.photos.createAlbum">

                    <i class="fa fa-plus"></i> Create Album
                    </button>
            </div>
        </div>
    </div>
</div>

<div class="pull-left" ng-class="showAlbums ? 'col-lg-9' : 'col-lg-12'">
    <div ng-if="selectedAlbum.type == null || selectedAlbum.type == undefined"infinite-scroll="morePhotoList()" infinite-scroll-disabled="photoListLoading" infinite-scroll-immediate-check="false">
        <div class="ibox-content">
            <div class="btn-group ">
                <a class="btn btn-primary" ng-click="photosDisplay = 'grid'" tooltip="Gallery">
                    <i class="glyphicon glyphicon-th-large"></i>
                </a>
                <a class="btn btn-primary" ng-click="photosDisplay = 'list'" tooltip="List">
                    <i class="glyphicon glyphicon-th-list"></i>
                </a>
            </div>
            <span><a class="btn btn-sm btn-white pull-right" href="" ng-click="toggleAlbumList()">Toggle Album List</a></span>
        </div>

        <div class="ibox-content clear" ng-show="photosDisplay == 'grid'">
            <div class="row center-block">
            <span class="thumbnail col-xs-6 col-sm-3 col-lg-2" ng-repeat="photo in photos" style="margin:5px auto;">

                <a ui-sref="family.photos.albums.album({album: photo.parent.data.slug})" data-gallery=""
                   title="{{photo.name}}">
                    <img alt="{{photo.name}}" ng-src="{{ photo.image.medium }}" class="img-responsive">
                </a>
            </span>
            </div>
        </div>

        <div class="ibox-content clear" ng-show="photosDisplay == 'list'">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="photo in photos">
                    <a ng-click="selectPhoto($index)" class="pull-left">
                        <img alt="{{ photo.name }}" ng-src="{{ photo.image.small }}">
                    </a>
                    <div class="media-body" style="padding-left: 10px">
                        <h4><a ng-click="selectPhoto($index)">{{ photo.name }}</a></h4>
                        Added by {{ photo.owner.data.display_name }} in {{ photo.parent.data.name }} on {{ photo.created * 1000 | date : short }}
                    </div>

                </div>
            </div>
        </div>
        <p>
        <div ng-if="photoListLoading" ng-include="'components/common/loadingIcon.html'"></div>
        <div ng-if="meta.pagination != 'undefined' && meta.pagination.links.next != null && !photoListLoading">
            <button type="button"
                    class="btn btn-outline btn-primary center-block"
                    ng-click="morePhotoList()">
                <i class="fa fa-arrow-down"></i> More photos
            </button>
        </div>
        </p>
    </div>

    <div class="ibox" ng-if="selectedAlbum.type != null">
        <div class="ibox-content">
            <span><a class="btn btn-sm btn-white pull-right" href="" ng-click="toggleAlbumList()">Toggle Album List</a></span>
            <h2>{{selectedAlbum.name}}</h2>
        </div>
        <photo-explorer parent="selectedAlbum" highlight-image="selectedPhoto"></photo-explorer>
    </div>
</div>




