<div ng-controller="AlbumFormCtrl">
    <form class="form-horizontal" name="albumForm" novalidate>
        <div class="form-group" show-errors="{ showSuccess: true}">
            <label class="col-sm-2 control-label">Album Name:</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" name="name" ng-model="album.name" required>
            </div>

            <div class="col-sm-1">
                Shared
                <div class="switch" tooltip-placement="left" tooltip="Any family member can add photos to a shared album.">
                    <div class="onoffswitch">
                        <input type="checkbox" ng-model="album.shared" class="onoffswitch-checkbox" id="shared">
                        <label class="onoffswitch-label" for="shared">
                            <span class="onoffswitch-inner"> </span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" show-errors="{ showSuccess: true}">
            <div class="col-sm-12">
                <textarea ng-model="album.description" name="description" class="form-control" rows="8"></textarea>
            </div>
        </div>

    </form>

    <div class="media-body"><hr>
        <div class="form-group col-xs-12 col-sm-3 pull-right">
            <button class="btn btn-primary btn-outline form-control" ng-disabled="albumForm.$invalid"
                    ng-click="saveAlbum(album);albumExplorer.editingAlbum = false">
                <i class="fa fa-check"></i>
                <span ng-if="album.id">Save Album</span>
                <span ng-if="!album.id">Create Album</span>
            </button>
        </div>
        <div class="form-group col-xs-12 col-sm-3  pull-right" ng-if="album.id">
            <button class="btn btn-warning btn-outline form-control" ng-click="albumExplorer.editingAlbum = false">
                <i class="fa fa-sign-out"></i> Cancel
            </button>
        </div>
        <div class="form-group col-xs-12 col-sm-3  pull-left" ng-if="album.id">
            <button class="btn btn-danger btn-outline form-control" ng-if="album.permissions.delete">
                <i class="fa fa-close"></i> Delete
            </button>
        </div>
        <br>
    </div>
    <div class="clearfix"></div>

</div>
