<div class="ibox">

    <!-- masthead -->
    <div class="ibox-content m-b-sm border-bottom">
        <div class="p-xs col-sm-10">
            <div class="pull-left m-r-md">
                <i class="fa fa-photo text-navy mid-icon"></i>
            </div>
            <h2>Create a new Photo Album</h2>

        </div>
        <div class="clearfix"></div>
    </div>

    <div class="ibox-content">

        <div ng-include="'app/views/photos/_albumForm.html'" class="animated fadeInUp"></div>

    </div>

</div>
