<div class="ibox" ng-model="album.photos.data">

    <!-- Album Info -->
    <div class="ibox-content m-b-sm border-bottom" ng-if="!editing_album">
        <div class="p-xs col-sm-9">
            <div class="media-body">
                <h2>{{ album.name}}</h2>
                <span>{{ album.description }}</span>
            </div>

        </div>
        <span ng-if="!album.shared" class="pull-right" tooltip-placement="left" tooltip="Only the owner can add photos to this album">
            <i class="fa fa-lock"></i>
        </span>
         <span ng-if="album.shared" class="pull-right" tooltip-placement="left" tooltip="Anyone can add photos to this album">
            <i class="fa fa-plus-square"></i>
        </span>
        <div class="clearfix"></div>
        <div class="forum-post-info  animated fadeIn">

            <profile-picture size="small" user="album.owner.data" a-class="pull-left" img-class="m-r-sm"></profile-picture>

            <div>
                <span class=" pull-right">
                    <button class="btn btn-white btn-xs" ng-if="album.permissions.edit" ng-click="editAlbum()"> <i class="fa fa-pencil"></i> </button>
                </span>

                Created by <strong>{{ album.owner.data.first_name }} {{ album.owner.data.last_name }}</strong>
                on
                <small class="text-muted"><i class="fa fa-clock-o"></i> {{ album.created * 1000 | date : short }}
                </small>

                <br>
            </div>


            <div class="clearfix"></div>

        </div>
    </div>

    <div ng-include="'app/views/photos/_albumForm.html'" class="ibox-content m-b-sm border-bottom" ng-if="editing_album"></div>

    <photo-explorer parent="album" highlight-image="highlightImage"></photo-explorer>

</div>