<div class="wall-comment-list" infinite-scroll="more()" infinite-scroll-disabled='commentLoading' infinite-scroll-immediate-check="false">

    <!-- Comment Listing -->
    <div class="wcl-list">
        <div ng-repeat="reply in comments" class="media" ng-class="{'animated flipOutX': reply.deleted}">
                <profile-picture size="small" user="reply.owner.data" a-class="pull-left" img-class="lv-img-sm"></profile-picture>

            <div class="media-body" ng-if="editing != reply.id">
                <a href="" class="a-title">{{ reply.owner.data.display_name }}</a>
                <small class="c-gray m-l-10">{{ reply.created * 1000 | date : short }}  <span ng-if="reply.created !== reply.updated">[Last Edited {{ reply.updated * 1000 | date : short }}]</span></small>
                <p class="m-t-5 m-b-0" marked="reply.body"></p>
            </div>

                <div class="pull-right p-0" ng-if="reply.permissions.edit">
                    <ul class="actions">
                        <li class="dropdown" uib-dropdown>
                            <a href="" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a ng-click="editReply(reply, $event)">Edit</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>


                <form class="media-body" ng-if="editing == reply.id" name="editThreadReply" novalidate="">
                    <div class="form-group">
                        <textarea type="text" name="reply" ng-model="reply.edited" class="form-control" rows="4" required="">
                        </textarea>
                    </div>

                    <div class="form-group col-xs-12 col-sm-3 pull-right">
                        <button class="btn btn-primary btn-outline form-control" ng-disabled="editThreadReply.$invalid" ng-click="saveReply(reply, $event)">
                            Save Reply
                        </button>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3 pull-right">
                        <button class="btn btn-warning btn-outline form-control" ng-click="stopEdit()">
                            Cancel
                        </button>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <button class="btn btn-danger btn-outline form-control" ng-if="reply.permissions.delete" ng-click="deleteReply(reply)">
                            Delete
                        </button>
                    </div>
                    <br>
                </form>
        </div>

    </div>

    <!-- Comment form -->
    <div class="wcl-form">
        <div class="wc-comment" data-ng-if="!mactrl.wallCommenting[1]" data-ng-click="mactrl.wallCommenting[1] = true" ng-init="mactrl.wallCommenting[1] = false">
            <div class="wcc-inner">
                Write Something...
            </div>
        </div>

        <div class="wc-comment">
            <div class="wcc-inner">
                <textarea class="wcci-text" data-auto-size placeholder="Write Something..."></textarea>
            </div>

            <div class="m-t-15">
                <button class="btn btn-sm btn-primary">Post</button>
            </div>
        </div>
    </div>

    <p>

    <div ng-if="commentLoading" ng-include="'components/common/loadingIcon.html'"></div>
    <div ng-if="comments.length < meta.pagination.total && !commentLoading && !limit">
        <button type="button"
                class="btn center-block btn-outline btn-primary"
                ng-click="more()" >

            <i class="fa fa-arrow-down"></i> More replies
        </button>
    </div>
    </p>

</div>