<div id="comment-feed">
    <form class="ng-pristine ng-valid" ng-if="parent.permissions.comment" name="threadReply">
        <div class="form-group">
                        <textarea type="text" placeholder="Add reply" name="comment" ng-model="comment.body" class="form-control" rows="4" required="">
                        </textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary form-control" ng-disabled="threadReply.$invalid" ng-click="addReply(comment, $event)">
                Add Reply
            </button>
        </div>
        <br>
    </form>

    <div class="feed-activity-list" ng-show="parentId != 0">
        <div class="feed-element animated fadeInUp" ng-repeat="reply in comments"  ng-class="{'flipOutX': reply.deleted}">

            <profile-picture size="small" user="reply.owner.data" class="pull-left"></profile-picture>

            <div class="media-body text-muted" ng-if="editing != reply.id">
                        <span class=" pull-right">
                            <button class="btn btn-white btn-xs" ng-if="reply.permissions.edit" ng-click="editReply(reply, $event)"> <i class="fa fa-pencil"></i> </button>
                        </span>

                <strong>{{ reply.owner.data.first_name }} {{ reply.owner.data.last_name }}</strong><br>
                <small class="text-muted">{{ reply.created * 1000 | date : short }}  <span ng-if="reply.created !== reply.updated">[Last Edited {{ reply.updated * 1000 | date : short }}]</span></small>
                <p marked="reply.body"></p>
            </div>

            <form class="media-body" ng-if="editing == reply.id" name="editThreadReply" novalidate="">
                <div class="form-group">
                    <textarea type="text" name="reply" ng-model="reply.edited" class="form-control" rows="4" required="">
                    </textarea>
                </div>
                <div class="form-group col-sm-4">
                    <button class="btn btn-primary btn-outline form-control" ng-disabled="editThreadReply.$invalid" ng-click="saveReply(reply, $event)">
                        Save Reply
                    </button>
                </div>
                <div class="form-group col-sm-4">
                    <button class="btn btn-danger btn-outline form-control" ng-if="reply.permissions.delete" ng-click="deleteReply(reply)">
                        Delete
                    </button>
                </div>
                <div class="form-group col-sm-4">
                    <button class="btn btn-warning btn-outline form-control" ng-click="stopEdit()">
                        Cancel
                    </button>
                </div>
                <br>
            </form>

        </div>

    <br>

    </div>
    <p>
    <div ng-if="commentLoading">
        <div class="sk-spinner sk-spinner-cube-grid">
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
        </div>
    </div>
    <div ng-if="comments.length < meta.pagination.total && !commentLoading">
        <button type="button"
                class="btn btn-block btn-outline btn-primary"
                ng-click="more()" >

            <i class="fa fa-arrow-down"></i> More replies
        </button>
    </div>
    </p>
</div>